<html>
  <head>
    <title>Point of Sale</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      -
      <a href="/purchases">purchases</a>
      -
      <a href="/reports">report</a>
    </nav>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
